	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.8.0/chartist.min.css" type="text/css" media="all" />    
            <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.8.0/chartist.min.js"></script>

<div class="row">
	<div class="col-sm-6">
        <div class="row">
            <a href="#/Candidate" class="col-sm-10 btn btn-default" id="list-candidate"><b>jdfjfd</b></a>
        </div>
        <div class="row">
            <a href="#/CandidateFilter/1" class="col-sm-5 btn btn-default" id="success"><b>dkjfjfd</b></a>
            <a href="#/CandidateFilter/2" class="col-sm-5 btn btn-default" id="fail"><b>kdjfkjjdhf</b></a>
        </div>
    </div>
    
</div> 

<div class="container">
  <div id="chartist-chart" class="ct-chart"></div>
</div>